<footer>
<div id="left_footer_block">
  <p id="twitter">
    <a target="_blank" href="http://twitter.com/refinerycms">Follow us</a> on Twitter
  </p>
</div>
<div id="right_footer_block">
  <nav class="menu clearfix" id="footer_menu">
  <ul>
    <li id="item_0" class="first">
  <a href="/contact">Contact</a></li>
<li id="item_1">
  <a href="/blog">Blog</a></li>
<li id="item_2">
  <a href="/showcase">Showcase</a></li>
<li id="item_3">
  <a href="/testimonials">Testimonials</a></li>
<li id="item_4">
  <a href="/about">About</a></li>
<li id="item_5">
  <a href="/hosting">Hosting</a></li>
<li id="item_6">
  <a href="/community">Community</a></li>
<li id="item_7">
  <a href="/engines">Engines</a></li>
<li id="item_8" class="selected">
  <a href="/guides">Guides</a></li>
<li id="item_9">
  <a href="/download">Download</a></li>
<li id="item_10" class="last">
  <a href="/">Home</a></li>
  </ul>
</nav>

  <p>
    Copyright &copy; 2011
    <a title="Ruby on Rails Refinery CMS Development" href="http://resolvedigital.com">Resolve Digital</a> - Creators of Refinery CMS.
  </p>
</div>
      </footer>
